/* .classe #id so o nome é o elemento e * é para tudo*/
*{
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
display: flex;
justify-content: space-around;
border: 3px solid #b10598;
background-color: #406891;
height: 80px;
align-items: center;
}

#pesquisa{
border: 10px #037CFC;
height: 30px;
border-radius: 5px;
/* margin-left: 5px; */
padding-left: 5px;
}

#bt_pesquisar{
    height: 30px;
    border-radius: 5px;
    border: 10px #037CFC;
    cursor: pointer;
}

#bt_pesquisar:hover{
    background-color: coral;
}
header:hover{
    background-color: black;
}